<template name="intro">
    <header>
        <section class="logo">
            <img src="img/logo.png" alt="logo">
        </section>
    </header>
    <main class="intro">
        <div class="container">
            <ul id="slideshow" class="slideshow">
                <li><img src="img/intro/slide_1.png" alt="" /></li>
                <li><img src="img/intro/slide_2.png" alt="" /></li>
                <li><a href="/map"><img src="img/intro/slide_3.png" alt="" /></a></li>
                <a href="/map" class="skip">sla over ></a>
            </ul>

        </div>
        <div id="controls" class="controls">
            <span class="prev"><img src="icons/previous_white.svg" alt=""></span>
            <span class="next"><img src="icons/next_white.svg" alt=""></span>
        </div>
    </main>
</template>
