.filter {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
}

.filter h2 {
    padding: 10px 10px 10px 25px;
    margin: 0;
    width: 100px;
    display: inline-block;
    letter-spacing: 3px;
    line-height: 40px;
}

.filtertitle {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    height: 57px;
    background: #bd2c2c;
    color: #fff;
    width: 350px;
    margin: 0;
}

.filtertitle > div {
    display: inline-block;
    padding: 10px;
    height: 37px;
    width: 37px;
    float: right;
    background: #de3a3a;
    cursor: pointer;
}

.togglefilterimg {
    width: 20px;
    padding: 9px 8.5px;
}

.filter > .filters {
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    width: 293px;
    height: calc(100vh - 70px - 56px);
    margin: 0;
    padding: 0;
    background: #de3a3a;
    border: none;
}

.filter > .filters > div > label > div {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 25px;
    display: inline-block;
    float: left;
    background-size: 100% 100%;
}

.filter > .filters > div > label > p {
    font-weight: 500;
    width: 200px;
    font-size: 18px;
    margin: 20px 0px 20px 0;
    display: inline-block;
    float: right;
    letter-spacing: 2px;
}

.filter > .filters > div > label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    /*
    padding-left: 25px;
    margin-right: 15px;
    */
    font-size: 13px;
    float: left;
}

.filter > .filters > div > input[type=checkbox] {
    position: absolute;
    display: none;
    margin: 22px 22px 22px 0px;
}

.filter > .filters > div > label:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    content: "\e900";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 22px 22px 22px 250px;
    position: absolute;
    float: right;
    line-height: 23px;
    font-size: 15px;
    color: #000;
    opacity: 0.3;
}

.filter > .filters > div > input[type=checkbox]:checked + label:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    content: "\e901";
    font-size: 15px;
    text-align: center;
    line-height: 23px;
}

.filter > .filters > div > input[type=checkbox]:not(:checked) + label,
.filter > .filters > div > input[type=checkbox]:not(:checked) + label:before {
    opacity: 0.4;
}

.filter > .filters > .trashes > label > div {
    background: url('/icons/square_inactive.svg');
}

.filter > .filters > .crowdedness > label > div {
    background: url('/icons/triangle_inactive.svg');
}

.filter > .filters > div > input[type=checkbox]:checked + label > .trashesdiv {
    background: url('/icons/square.svg');
}

.filter > .filters > div > input[type=checkbox]:checked + label > .crowdednessdiv {
    background: url('/icons/triangle.svg');
}

.filter > .filters > div {
    cursor: pointer;
    clear: both;
}

.filter > .filters > .border {
    cursor: pointer;
    height: 1px;
    background-color: #bd2c2c;
    color: #bd2c2c;
    clear: both;
}

section.legenda {
    margin: 0 0 0 70px;
}

section.legenda div {
    margin: 10px 0;
}

section.legenda img {
    display: inline-block;
    width: 15px;
}

section.legenda p {
    color: #7D1F1F;
    display: inline-block;
    width: 100px;
    margin: 0 0 0 10px;
    padding: 0px;
}

.subscript {
    display: block;
    margin-left: 28px;
    color: #000;
    opacity: 0.5;
}