.filter {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
}

.filter h2 {
    padding: 10px;
    margin: 0;
    width: 100px;
    display: inline-block;
}

.filtertitle {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    height: auto;
    background: #BD2C2C;
    color: #fff;
    width: 300px;
    margin: 0;
}

.filtertitle > div {
    display: inline-block;
    padding: 10px;
    height: 37px;
    width: 37px;
    float: right;
    background: #de3a3a;
}

.filter > .filters {
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    width: 243px;
    height: calc(100vh - 70px - 56px);
    margin: 0;
    padding: 0;
    background: #de3a3a;
    border: none;
}

.filter > .filters > div > img {
    cursor: pointer;
    width: 15px;
    margin: 22px;
    display: inline-block;
    float: left;
}

.filter > .filters > div > p {
    font-weight: 500;
    width: 120px;
    margin: 20px 60px 20px 0;
    display: inline-block;
    float: right;
}

.filter > .filters > div {
    cursor: pointer;
    clear: both;
}

.filter > .filters > .border {
    cursor: pointer;
    height: 1px;
    background-color: #bd2c2c;
    color: #bd2c2c;
    clear: both;
}

.disabled > p{
    text-decoration: line-through;
    color: RGBA(255, 255, 255, 0.72)
}
.disabled > img{
    opacity: 0.60;
}


/*
.filter > .filters > div {
    margin: 10px 2em;
}
*/
