header {
    clear: both;
    height: 70px;
    background: #fff;
}

.logo {
    display: inline-block;
}

.logo > img {
    margin: 1.2em;
    height: 30px;
}

.monthselect {
    right: 150px;
    position: absolute;
    padding: 25px;
    height: 30px;
    display: inline-block;
    width: 140px;
}

.month {
    width: 90px;
    text-align: center;
    display: inline-block;
}

.months {
    position: relative;
    display: inline-block;
    width: 60%;
    padding: 0 5%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
}

/*
.month {
    width: 100%;
    color: #333333;
    text-align: center;
}
*/

.previousmonth {
    display: inline-block;
    float: left;
    width: 10%;
}

.nextmonth {
    display: inline-block;
    float: right;
    width: 10%;
}

.districts {
    display: none !important;
    right: 0px;
    position: absolute;
    margin: 10px 30px 10px 10px;
    height: 40px;
    padding: 2px 10px;
    display: inline-block;
    width: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: #333333;
}

.districts > img {
    height: 26px;
    display: inline-block;
    margin: 7px;
}

.districts > p {
    margin: 11px;
    padding: 0 0 20px 0 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    display: inline-block;
}

.close {
    right: 0px;
    position: absolute;
    margin: 10px 5px 10px 10px;
    height: 40px;
    padding: 2px 10px;
    display: inline-block;
    width: 120px;
    border-style: solid;
    border-color: #fff;
    border-left-width: 1px;
    border-left-color: #CECECE;
}

.close img {
    height: 14px;
    display: inline-block;
    margin: 13px 0px 3px 11px;
}
.close > p {
    margin: 10px;
    padding: 0 0 20px 0 0;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    display: inline-block;
}
