header {
    height: 70px;
}

.logo {
    display: inline-block;
}

.logo > img {
    margin: 1.2em;
    height: 30px;
    /*    width: auto;*/
}

.wijken {
    margin: 10px 30px 10px 10px;
    height: 40px;
    float: right;
    padding: 2px 10px;
    display: inline-block;
    width: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: #333333;
}

.wijken > img {
    height: 26px;
    display: inline-block;
    margin: 7px;
}

.wijken > p {
    margin: 11px;
    padding: 0 0 20px 0 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    display: inline-block;
}
