.map {
    margin-left: 243px;
    height: calc(100vh - 70px);
    width: calc(100vw - 243px);
}

.amsterdammap {
    position: absolute;
    width: 60px;
    margin: 1em;
    height: auto;
    z-index: 1;
}

.trashicon {
    background-color: #009DF5;
    border-radius: 0%;
    width: 6px !important;
    height: 6px !important;
}

.fotoicon,
.foto-icon-july,
.foto-icon-august {
    width: 0 !important;
    height: 0 !important;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #A0171C;
}

.foto-icon-july {
    /*    background: #AE2424;*/
}

.foto-icon-august {
    /*    background: #AE2424;*/
}

.fotoicon {
    /*    background: #AE2424;*/
}

.leaflet-container {
    background-color: rgba(255, 0, 0, 0.0);
}

.leaflet-top leaflet-left {
    display: none;
}


/*popup*/

.popup {
    color: #fff !important;
    position: relative;
    height: 30px;
    padding: 15px;
    margin: 1em 0 3em;
    color: #000;
    background: #000000;
}

.popup:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 20px;
    width: 0;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #000 transparent;
}

.none {
    display: none !important;
}
