html, body {
    overflow-x: hidden;
}

.map {
    margin-left: 130px;
    height: calc(100vh - 70px);
/*    width: calc(100vw - 243px);*/
    width: 100%;
}

.amsterdammap {
    position: absolute;
    width: 60px;
    margin: 1em;
    height: auto;
    z-index: 1;
}

.trashicon {
    background-color: #009DF5;
    border-radius: 0%;
    width: 6px !important;
    height: 6px !important;
}

.foto-icon-july,
.foto-icon-august,
.foto-icon-september{
    width: 0 !important;
    height: 0 !important;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #A0171C;
}

.leaflet-container {
    background-color: rgba(255, 0, 0, 0.0);
}

.leaflet-top leaflet-left {
    display: none;
}

/*popup*/

.showmore {
    display: none !important;
    position: relative;
    top: 5px;
    text-transform: uppercase;
    padding: 8px 15px 5px 15px;
    background: #d8d8d8;
    color: #636363;
    font-weight: 700;
    width: 70px;
    z-index: 9;
}

.showmore:hover {
    display: none !important;
    color: #2C2C2C;
    text-decoration: underline;
}

.showmoreshadow {
    display: none !important;
    position: relative;
    z-index: 10;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    /*    border-right: 5px solid transparent;*/
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.popup {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff !important;
    position: relative;
    padding: 15px;
    color: #000;
    background: #000000;
}

.popup:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 30px;
    width: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #000 transparent;
}

.popupshadow {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px / 15px;
    position: relative;
    top: 15px;
    left: 15px;
    width: 80px;
    height: 10px;
    z-index: 8;
}

.overlay {
    fill: #ffffff;
    fill-opacity: 0.9;
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-linejoin: round;
}

.transparent {
    fill: transparent;
}

.disabledlayer{
    opacity: 0.2;
}

.leaflet-marker-pane {
    z-index: 2;
}

.showdistrict {
    stroke: #D1D1D1;
    stroke-width: 2px;
    stroke-linejoin: round;
}
