html,
body {
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.red {
    color: #D83E41;
}

.black {
    color: #333333;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*
.current {
  position: absolute;
  left: 400px;
  top: 150px;
  -webkit-animation: pulse 2s infinite ease-out;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid rgba(255, 0, 0, 0);
}

@-webkit-keyframes pulse {
  0% {
    width: 0px;
    height: 0px;
    left: 400px;
    top: 150px;
    border-color: #fff;
  }
  10% {
    border-color: rgba(0, 170, 255, 0.3);
  }
  30% {
    border-color: rgba(0, 170, 255, 0.7);
  }
  100% {
    width: 70px;
    height: 70px;
    left: 365px;
    top: 115px;
    borer-color: white;
  }
}
*/

@media all and (max-width: 480px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    .notice {
        font-size: 11px;
    }
}

@media all and (max-width: 320px) {
    /* styles for iPhone/Android portrait */
    .notice {
        font-size: 11px;
    }
}

@media all and (max-width: 240px) {
    /* styles for smaller devices */
    .notice {
        font-size: 11px;
    }
}
