<template name="map">
    <header>
        <section class="logo">
            <img src="img/logo.png" alt="logo">
        </section>
        <section class="monthselect">
            <img src="icons/previous.svg" alt="previous" class="previousmonth">
            <div class="months">
                <section class="slides">
                    <div class="month noselect">juli</div>
                    <div class="month noselect">augustus</div>
                    <div class="month noselect">september</div>
                </section>
            </div>
            <img src="icons/next.svg" alt="next" class="nextmonth">
        </section>
        <section class="districts noselect">
            <img src="img/districts.png" alt="">
            <p class="noselect">Toon wijken</p>
        </section>
    </header>
    <section class="filter">
        <section class="filtertitle">
            <h2>Legenda</h2>
            <div class="togglefilter">
                <img src="icons/close.svg" alt="closebutton" class="togglefilterimg">
            </div>
        </section>
        <section class="filters">
            <div class="crowdedness">
                <img src="icons/triangle.svg" alt="Drukte">
                <p>Drukte</p>
            </div>
            <div class="border"></div>
            <div class="trashes">
                <img src="icons/square.svg" alt="Prullenbakken">
                <p>Prullenbakken</p>
            </div>
            <div class="border"></div>
            <div class="cleaning-intensity">
                <img src="icons/circle.svg" alt="Schoonmaak intensiteit">
                <p>Schoonmaak intensiteit</p>
            </div>
            <div class="border"></div>
        </section>
    </section>
    <section class="informotion">
        <div id="map" class="map"></div>
        <div class="mappopup none">
            <div class="showmore noselect">Bekijk ></div>
            <div class="showmoreshadow"></div>
            <div id="placename" class="popup noselect"></div>
            <div class="popupshadow"></div>
        </div>
    </section>
</template>
