<template name="map">
    <header>
        <section class="logo">
            <img src="img/logo.png" alt="logo">
        </section>
        <section class="monthselect">
            <img src="icons/previous_black.svg" alt="previous" class="previousmonth">
            <div class="months">
                <section class="slides">
                    <div class="month noselect">juli</div>
                    <div class="month noselect">augustus</div>
                    <div class="month noselect">september</div>
                </section>
            </div>
            <img src="icons/next_black.svg" alt="next" class="nextmonth">
        </section>
        <section class="districts noselect">
            <img src="icons/districts.svg" alt="districts">
            <p class="noselect">Toon wijken</p>
        </section>
        <section class="close noselect none">
            <img src="icons/close_black.svg" alt="close" class="">
            <p class="noselect">Sluiten</p>
        </section>
    </header>
    <section class="filter">
        <section class="filtertitle">
            <h2>Legenda</h2>
            <div class="togglefilter">
                <img src="icons/close.svg" alt="closebutton" class="togglefilterimg">
            </div>
        </section>
        <section class="filters">
            <div class="crowdedness">
                <input id="crowdedness" type="checkbox" value="crowdedness" checked>
                <label for="crowdedness">
                    <div class="noselect crowdednessdiv"></div>
                    <p class="noselect">Drukte</p>
                </label>

            </div>
            <div class="border"></div>
            <div class="trashes">
                <input id="trashes" type="checkbox" value="trashes" checked>
                <label for="trashes">
                    <div class="noselect trashesdiv"></div>
                    <p class="noselect">Prullenbakken</p>
                </label>
            </div>
            <div class="border"></div>
            <div class="cleaning-intensity">
                <input id="cleaning-intensity" type="checkbox" value="cleaning-intensity" checked>
                <label for="cleaning-intensity">
                    <div class="noselect cleaningintensitydiv"></div>
                    <p class="noselect">Schoonmaak intensiteit</p>
                    <section class="legenda">
                        <div>
                            <img src="icons/circle.svg" alt="">
                            <p>7X per week</p>
                        </div>
                        <div>
                            <img src="icons/circle.svg" alt="">
                            <p>3-7X per week</p>
                        </div>
                        <div>
                            <img src="icons/circle.svg" alt="">
                            <p>1-3X per week</p>
                        </div>
                    </section>
                </label>
            </div>

            <div class="border"></div>
        </section>
    </section>
    <section class="informotion">
        <div id="map" class="map"></div>
        <div class="mappopup none">
            <div class="showmore noselect">Bekijk ></div>
            <div class="showmoreshadow"></div>
            <div id="placename" class="popup noselect"></div>
            <div class="popupshadow"></div>
        </div>
    </section>
    <section class="statistic none">
        <section class="statisticstitle">
            <h2>Statestieken</h2>
            <div class="togglefilter">
                <img src="icons/close.svg" alt="closebutton" class="togglestatisticimg">
            </div>
        </section>
        <section class="statistics">
            <div>
                <h2 class="grade">Waarderingscijfer</h2>
                <p class="mark grade-mark">0</p>
            </div>
            <div>
                <h2 class="amount-trashes">Aantal prullenbakken</h2>
                <p class="mark amount-trashes-mark">0</p>
            </div>
            <div>
                <h2 class="amount-photos">Aantal Foto uploads</h2>
                <p class="mark amount-photos-mark">0</p>
            </div>
        </section>
    </section>
    <section class="navigationbar none">
        <img src="icons/previous_white.svg" alt="previous" class="previousdistrict">
        <h2 class="districtname">Wijknaam</h2>
        <img src="icons/next_white.svg" alt="next" class="nextdistrict">
    </section>

</template>
