<template name="home">
    <section class="homepage">
        <h1 class="homepagetitle textcenter red">Amsterdam Centrum</h1>
        <section class="textcenter homeaction">
           <img src="icons/trash.svg" alt="">
            <a href="/map" class="homelink black">Prullenbakken in amsterdam centrum</a>
        </section>
        <section class="textcenter homeaction">
                  <img src="icons/trash.svg" alt="">
            <a href="/map" class="homelink black">Schoonmaak intensiteit</a>
        </section>
        <section class="textcenter homeaction">
                  <img src="icons/trash.svg" alt="">
            <a href="/map" class="homelink black">Aantal mensen in amsterdam centrum</a>
        </section>

    </section>

</template>
